<div class="div2">
  <div class="div resultado">
    <h3 class=" display-4 ">Resultado</h3>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Número</th>
          <th>Candidato</th>
          <th>Qtde Votos</th>
          <th>% Votos</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let candidato of this.apuracao._validos">
          <td>{{candidato._numero}}</td>
          <td>{{candidato._nome}}</td>
          <td>{{candidato._qtde}}</td>
          <td>{{candidato._percentual | number: '1.2-2'}}</td>
        </tr>

        <tr *ngIf="this.apuracao._brancos > this.apuracao._nulos; else nulos ">
          <td>-</td>
          <td>Brancos</td>
          <td>{{this.apuracao._brancos}}</td>
          <td>{{this.porcentagemBrancos | number: '1.2-2'}}</td>

        </tr>

        <tr *ngIf="this.apuracao._nulos < this.apuracao._brancos; else brancos">
          <td>-</td>
          <td>Nulos</td>
          <td>{{this.apuracao._nulos}}</td>
          <td>{{this.porcentagemNulos | number: '1.2-2'}}</td>

        </tr>

        <ng-template #nulos>
          <tr>
            <td>-</td>
            <td>Nulos</td>
            <td>{{this.apuracao._nulos}}</td>
            <td>{{this.porcentagemNulos | number: '1.2-2'}}</td>

          </tr>
        </ng-template>

        <ng-template #brancos>
          <tr>
            <td>-</td>
            <td>Brancos</td>
            <td>{{this.apuracao._brancos}}</td>
            <td>{{this.porcentagemBrancos | number: '1.2-2'}}</td>

          </tr>
        </ng-template>
    </table>
  </div>
</div>
