<div class="externa bg-light" *ngIf="isLogado()">
  <div class="container">
    <div class="border rounded">
      <nav class="nav justify-content-center">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cadastrar candidatos</button>
              <button [classList]="mutarButao()" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Configurar eleição</button>
          </div>
      </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card border">
            <div class="card-body">
              <div class="row g-0 h-100 align-self-center align-items-center">
                <div class="col-md-6">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Número</th>
                        <th>Deletar</th>
                      </tr>
                    </thead>

                    <tbody *ngFor="let candidato of candidatos">
                      <tr class="text-center">
                        <td>{{candidato._id}}</td>
                        <td>{{candidato._nome}}</td>
                        <td>{{candidato._numero}}</td>
                        <td>
                          <button [disabled]="isVotacaoEmCurso" (click)="deletarCandidato(candidato._numero)" class="btn btn-default btn-outline-danger">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="text-center">
                    <span *ngIf="candidatos.length == 0 && !isCandidatoDeletado">Nenhum candidato cadastrado !!!</span>
                    <span *ngIf="isCandidatoDeletado" class="text-muted">{{mensagemCandidatoDeletado}}</span>
                  </div>

                </div>

                <div class="col-md-6">
                  <div class="form-field m-3" style="width: 95%;">
                    <label for="inputNomeCandidato" class="form-field__label">Nome do candidato: </label>
                    <input type="text" id="inputNomeCandidato" class="form-field__input" disabled="{{candidatos.length == 5 || isVotacaoEmCurso}}" [(ngModel)]="nome">
                  </div>

                  <div class="form-field m-3" style="width: 95%;">
                    <label for="inputNumeroCandidato" class="form-field__label">Número do candidato:</label>
                    <input type="text" id="inputNumeroCandidato" class="form-field__input" disabled="{{candidatos.length == 5 || isVotacaoEmCurso}}"  [(ngModel)]="numero">
                  </div>

                  <div class="text-center m-1">
                    <span *ngIf="isCandidatoInvalido">Candidato inválido !</span>
                    <span *ngIf="isCandidatoExistente">Número de candidato já cadastrado !</span>
                    <span *ngIf="candidatos.length == 5 && !isVotacaoEmCurso">Quantidade máxima de candidatos atingida !</span>
                    <span *ngIf="isVotacaoEmCurso">Existe uma votação em curso, não é possível cadastrar mais candidatos</span>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-success m-1" [disabled]="candidatos.length == 5 || isVotacaoEmCurso" (click)="adicionarCandidato()">Cadastrar</button>
                    <button type="button" class="btn btn-secondary m-1" [disabled]="candidatos.length == 5 || isVotacaoEmCurso" (click)="limparTela()">Limpar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-center text-muted"></div>
          </div>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card border">
                <div class="card-body col-10 align-self-center">

                  <ng-container *ngIf="candidatos.length < 3">
                    <div class="row align-self-center align-items-center text-center h-100">
                      <h4>Quantidade mínima de 3 candidatos não atingida !!!</h4>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="candidatos.length >= 3">
                    <div class="form-field p-2">
                      <label for="idTipoEleicao" class="form-field__label">Tipo de eleição: </label>
                      <input list="tipoEleicao" id="idTipoEleicao" disabled={{isVotacaoEmCurso}} class="form-field__input" [(ngModel)]="tipoEleicao" [value]="tipoEleicao">
                      <datalist id="tipoEleicao">
                        <option value="Presidente"></option>
                        <option value="Governador"></option>
                        <option value="Prefeito"></option>
                      </datalist>
                    </div>

                    <div class="row g-1 m-0 p-2">
                      <div class="col">
                        <div class="form-field m-0 p-0">
                          <label class="form-field__label">Data de início</label>
                          <input type="date" class="form-field__input" disabled={{isVotacaoEmCurso}} [ngModel]="dtInicio | date:'yyyy-MM-dd'" (ngModelChange)="dtInicio=$event">
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-field m-0 p-0">
                          <label class="form-field__label">Horário de início</label>
                          <ng-container *ngIf="!isVotacaoEmCurso">
                            <input type="time" class="form-field__input" [ngModel]="timeInicio" (ngModelChange)="timeInicio=$event">
                          </ng-container>

                          <ng-container *ngIf="isVotacaoEmCurso">
                            <input type="text" class="form-field__input" disabled={{isVotacaoEmCurso}} value={{formatarTime(timeInicio)}}>
                          </ng-container>
                        </div>
                      </div>
                    </div>

                    <div class="row g-1 p-2 m-0">
                      <div class="col">
                        <div class="form-field m-0 p-0">
                          <label class="form-field__label">Data de término</label>
                          <input type="date" class="form-field__input" disabled={{isVotacaoEmCurso}} [ngModel]="dtFim | date:'yyyy-MM-dd'" (ngModelChange)="dtFim=$event">
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-field m-0 p-0">
                          <label class="form-field__label">Horário de término</label>
                          <ng-container *ngIf="!isVotacaoEmCurso">
                            <input type="time" class="form-field__input" [ngModel]="timeFim" (ngModelChange)="timeFim=$event">
                          </ng-container>

                          <ng-container *ngIf="isVotacaoEmCurso">
                            <input type="text" class="form-field__input" disabled={{isVotacaoEmCurso}} value={{formatarTime(timeFim)}}>
                          </ng-container>
                        </div>
                      </div>
                    </div>

                    <div class="text-center text-muted" *ngIf="isDataVotacaoInvalida">
                      <span>{{mensagemDataInvalidaParte1}}</span>
                    </div>

                    <div class="text-center text-muted" *ngIf="isDataVotacaoInvalida">
                      <span>{{mensagemDataInvalidaParte2}}</span>
                    </div>

                    <div class="text-center m-2" *ngIf="!isDataVotacaoInvalida">
                      <button type="button" class="btn btn-primary m-1" [disabled]="isVotacaoEmCurso" (click)="configurarEleicao()">Iniciar votação</button>
                      <button type="button" class="btn btn-danger m-1" [hidden]="!isVotacaoEmCurso" (click)="cancelarEleicao()">Cancelar votação</button>
                    </div>
                  </ng-container>
                </div>

              <div class="card-footer text-center text-muted"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center m-3">
      <button type="button" class="btn btn-outline-danger" (click)="sair()">&nbsp;Sair&nbsp;</button>
    </div>
  </div>
</div>
